@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{   
    font-size: 16px;
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

.container{ 
  max-height: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.portada-perfil button{
 
}

.botonperfil {
  background-color: transparent; /* Sin fondo */
  border: 2px solid white; /* Borde blanco */
  margin: 10px;
  margin-top: 10px;
  color: #fff; /* Color del texto */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  border-radius: 12px; /* Esquinas redondeadas */
  align-items: center; /* Centrar verticalmente */
  gap: 5px; /* Espacio entre el icono y el texto */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s, border-color 0.3s; /* Transición suave */
}

.botonperfil:hover{
background-color: #004aad;
color: #FFF;
text-decoration: none;
transition: all 0.3s;

}
.botonperfil i{
  margin-right: 5px;
  margin-top: 25px;
}

.cambiar-btn{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}
.cambiar-btn:hover{
  background-color: #0270ff;
}

.cerrar{
  cursor: pointer;
}

.botones-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  margin-top: 20px; /* Margen superior para separar los botones del contenido */
  gap: 30px;
}

.btn {
  background-color: transparent; /* Sin fondo */
  border: 2px solid red; /* Borde rojo */
  color: red; /* Color del texto */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: color 0.3s, border-color 0.3s; /* Transición suave */
 
}
/* From Uiverse.io by andrew-demchenk0 */ 
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}




.btn:hover {
  color: white; /* Cambiar el color al pasar el mouse */
  background-color: red; /* Fondo rojo al pasar el mouse */
  border-color: red; /* Borde rojo al pasar el mouse */
}

.body2{
  background-image: url(http://localhost/conexionPHPMysql-main/images/resi5.jpeg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container2{
 flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 20px;
  gap: 10px;
  width: 1000px;
}

.box-info{
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px;
}

.box-info > h1{
  text-align: left;
  letter-spacing: 4px;
  font-size: 25px;
}

.data{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.data > p{
  font-size: 1rem;
}
.data > p > i{
  color: #0270ff;
  margin-right: 10px;
  font-size: 25px;
} 

.links{
  display: flex;
  gap: 15px;
}

.links > a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  transition: .1s;
}
.links > a > i{
  color: #FFF;
  line-height: 40px;
  font-size: 20px;
}
.form2{
display: flex;
flex-direction: column;
text-align: center;
gap: 15px;

}

.input-box{
  position: relative;
}
.input-box > input{
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(255 255 255 / .1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: .3s;
  color: #FFF;
}
.input-box > textarea{
  width: 100%;
  height: 130px;
  background: rgba(255 255 255 / .1);
  letter-spacing: 1px;
  transition: .3s;
  color: #FFF;
  padding: 10px;
  outline: none;
}
.input-box > i{
  color: rgba(255 255 255 / .3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.form2 > button{
  background: #004aad;
  color: #FFF;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  transition: .2s;
}

.form2 > button:hover,
.links > a:hover {
  background:#002f6c;

}

.input-box > input:focus,
.input-box > textarea:focus{
  border-bottom: 3px solid #006eff;
} 
@keyframes shake { 
  0%, 100% {transform: translateX(0);} 
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
  20%, 40%, 60%, 80% {transform: translateX(10px);} 
}


@media screen and (max-width:600px) {
  .container2 {
      width: 95%;
      display: flex;
      flex-direction: column;
      gap:20px;
  }

  .box-info {
      gap:15px;
  }

  .box-info > h1 {
      font-size: 1.5rem;
  }
}






.header{
    background-image: url(http://localhost/conexionPHPMysql-main/images/resi4.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
  
}
.header2{
  background-image: url(http://localhost/conexionPHPMysql-main/images/resi4.jpeg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  min-height: 120vh;

  justify-content: center;
  display: flex;
}


.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  
    }

.logo{

}


.menu .navbar ul li{
    position: relative;
    float:  left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px ;
    display: block;
    font-weight: 500;
    
}
#menu{
  display: none;
}

.menu-icono{
  width: 25px;
}
.navbar{
  
}

.menu label{
    cursor: pointer;
    display: none;
}

nav{

}
.navbar{
  display: flex;
  height: 100px;

}

nav ul{
  float: left;
  margin: 0px;
  margin-bottom: 180px;
}

nav a{
    text-decoration: none;
    color: #FFFDFC;
}

@media(max-width:991px){

  .header{
    display: flex;
      justify-content: center;
      margin-bottom: 50px;
  }

  .menu {
    padding: 30px;
  }
  .menu-icono{
    margin-top: 40px;
  }

  .menu label{
    display: initial;
  }
  .menu .navbar{
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    background-color: #1B293A;
    display: none;
   
  }

  .menu .navbar ul li{
    width: 100%;
  }
  #menu:checked ~ .navbar{
    display: initial;
  }

  .header{
  

  }
  .header-content{
    padding: 120px 30px;
  }
  .header-txt h1{
   
    font-size: 50px;
  }
  
  
  .header-txt p{
    padding: 0;
  }
  .content{
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
 }



 
}


.content{
    background-color: #004badab;
    display: flex;
    gap: 15px;
    margin-inline: 20%;
    margin-top: 50px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

@media(max-width:1050px){

 
}

.content label{
    color: #FFFDFC;
}

.header-txt{
    text-align: center;
}

.header-txt h1{
    font-size: 39px;
    color: #FFFDFC;
    text-transform:uppercase;
    margin-top: 10px;
}

@media(max-width:1050px){

  .header-txt h1{
     font-size: 25px;
  }
}

.header-txt p{
    color: #BEBEBE;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;
}



.btn-1{
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #FFFDFC;
    color: #FFFDFC;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover{
    color: #1B293A;
    background-color: #FFFDFC ;
}

img{
    width: 170px;
}

.acerca{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.about-section{
  background: url(http://localhost/conexionPHPMysql-main/images/resi5.jpeg);
  background-size: 55% 855px;
  
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
  background-repeat: no-repeat;

}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
 
}
.inner-container img{
  margin-left: 100px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;

}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width:1200px){
  .inner-container{
    padding: 80px;
  }
}
@media screen and (max-width:1000px){
  .about-section{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
    width: 100%;
  }
}
@media screen and (max-width:600px){
  .about-section{
    
    padding: 0;
  }
  .inner-container{
    padding: 60px;
  }
}
@media(max-width:414px){
}
.inner-container img{
  margin-left: 1px;
}



  
  .card a {
    text-decoration: none
  }
  
  .contenido {
    padding: 1.1rem;
  }
  

  .card-img-top img{
    width: 100%;
    object-fit: cover;
    height: 200px; /* Ajusta la altura según lo necesites */

  }
  .card-img-top {
    width: 100%;
    height: 250px;
}
  .image {
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
    height: 300px; /* Debe coincidir con la altura de la imagen */
}

  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 6rem;
  
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 7rem;
    background-color: #2563EB;
    padding: 5px 8px;
    border-radius: 20px;
  }
  .action a{
    text-align: center;
    margin: 10px;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }

  .padre{
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
  } 
  
  .nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-link:hover:before{
    visibility: visible;
    width: 100%;
  }


  
  .iniregibody{
    background-image: url(http://localhost/conexionPHPMysql-main/images/resi.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.fuente{
  font-family: 'Montserrat', sans-serif;

}

.containerIR{
  background-color: #004aad;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  
}

.h1iniregi{
  color: #fff;
}

.containerIR h1{
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}


.containerIR p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
  font-family: 'Montserrat', sans-serif;

}

.containerIR span{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;

}

.containerIR a{
  color: #cecece;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
  font-family: 'Montserrat', sans-serif;

}

.containerIR button{
  background-color: #ffffff;
  color: #004aad;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;

}

.containerIR button.hidden{
  background-color: transparent;
  border-color: #004aad;
  color: #004aad;
  font-family: 'Montserrat', sans-serif;

}

.containerIR form{
  background-color: #004aad;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

}

.containerIR input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;

}

.containerIR select{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;

}

.form-containerIR{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  font-family: 'Montserrat', sans-serif;

}

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;

}

.containerIR.active .sign-in{
  transform: translateX(100%);
  font-family: 'Montserrat', sans-serif;

}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.containerIR.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;

}

.toggle-containerIR{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;

}

.toggle-containerIR img{
  width: 70%;
}

.containerIR.active .toggle-containerIR{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle img{

border-radius: 10%;
}

.toggle{
  background-color: #fff;
  height: 100%;
  background: linear-gradient(to right, #fff, #fff);
  color: #004aad;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  font-family: 'Montserrat', sans-serif;

}

.containerIR.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  font-family: 'Montserrat', sans-serif;

}

.toggle-left{
  transform: translateX(-200%);
}

.containerIR.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.containerIR.active .toggle-right{
  transform: translateX(200%);
}

.footer1{
  margin-top: 200px;
  position: relative;
  width: 100%;
  background: #004aad;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer2{
  margin-top: 30px;
  position: relative;
  width: 100%;
  background: #004aad;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 li a {

}


footer .social-icon,
.menu2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  flex-wrap: wrap;
  
}

footer .social-icon li,
 .menu2 li{
  list-style: none;
}
footer .social-icon li a,
 .menu2 li a{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover{
  transform: translateY(-10px);
}

footer .menu2 li a{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
}
footer .menu2 li a:hover{
  opacity: 1;
}

footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer .wave{
 
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background:  url(http://localhost/conexionPHPMysql-main/images/wave.png);
  background-size: 1000px 100px;
  
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 10px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
  0%
  {
  background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
    }

    @keyframes animateWave_02{
      0%
      {
      background-position-x: 0px;
      }
      100%
      {
        background-position-x: 1000px;
      }
        }

        
        body {
          background-color: #f8f9fa;
      }

      .containerrr {
          max-width: 600px;
          background-color: #004aad;
          border-radius: 10px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          padding: 30px;
      }

      h2 {
          color: #343a40;
      }

      .btn-primary {
        color: black;
          background-color: white;
          border-color: white;
          transition: background-color 0.3s ease;
      }

      .btn-primary:hover {
          background-color: gray;
          border-color: gray;
      }

      .form-label {
          font-weight: bold;
          margin-top: 5px;
      }

      .perfil-usuario .contenedor-perfil{
        display: block;
        position: relative;
        height: 20rem;
        margin-left: auto;
        margin-right: auto;
        
      }

      .perfil-usuario .portada-perfil{
        display: block;
        background: linear-gradient(#004aad, transparent);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 20rem;
        border-radius: 0 0 12px 12px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
      }

      .perfil-usuario .avatar-perfil{
        display: block;
        width: 200px;
        background-color: #d4d5db;
        position: absolute;
        bottom: -50px;
        left: 4rem;
        border-radius: 50%;
        overflow: hidden;
        border: 8px solid #FFFFFF;
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
      }
      .perfil-usuario img{
        width: 100%;
      }
      
      .perfil-usuario{
        width: 100%;
        background: linear-gradient(#004aad, transparent);
        position: relative;
      }
      .perfil-usuario  .cambiar-foto{
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, .5);
        height: 57%; 
        bottom: 0;
        left: 0;
        color: #FFF;
        text-decoration: none;
        transform: translateY(50%);
        opacity: 0;
      }

      /* From Uiverse.io by sihamjardi */ 
.button {
  position: relative;
  border-radius: 6px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  align-items: center;
  border: 1px solid #cc0000;
  background-color: #e50000;
  overflow: hidden;
  margin: 0 auto; /* Centrar horizontalmente */  
  justify-content: center;
  display: flex;
  flex-direction: column; 
  
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
 
  font-size: 14.5px;
  transform: translateX(1px);
  color: #fff;
  font-weight: 600;
  
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
}

.button:hover {
  background: #cc0000;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #b20000;
}

.button:active {
  border: 1px solid #b20000;
}

.modal {
  display: none; /* Oculta el modal por defecto */
  position: fixed;
  z-index: 1;
margin-right: auto;
margin-left: auto;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
  
}
.body_modal{
  display: flex;
  justify-content: center;
  

}



.residencia{
    display: flex;
    flex-direction: column;
    margin-inline: 15%;
    margin-top: 50px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
    text-align: center;
    gap: 15px;
}

.datosresi{
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
  padding: 10px;
  text-align: left;
  background-color: #004aad;
  color: #FFF;
  display: flex;
  flex-direction: column; 
}
.datosresi3{
  width: 60%;
  height: 65%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
  padding: 10px;
  background-color: #004aad;
  color: #FFF;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; /* Cambia a space-between */
}
.datosresi3 h1{
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
  gap: 15px; /* Espacio entre los elementos */
}

.flex-item {
  padding: 10px;
  border-radius: 5px;
  background-color: #0051bb; /* Color de fondo para los elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
}
.flex-item h3{
  font-size: 25px;
}

.boton_info{
  margin-top: auto; /* Empuja el botón hacia la parte inferior */
  justify-content: center;
  display: flex;
  flex-direction: column; 
  transition: border-color 0.3s;
}

.boton_info button{
 background-color: #ffffff;
 border-radius: 3px;
 border-color: white;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
 transition: border-color 0.3s;
}
.boton_info button:hover{
  background-color:#033b85;
  border-color: white;
  color: #fff;
}


.card_resi{
  margin-top: 120px;
  margin-bottom: 100px;
  color: #e8e7e7;
  border-radius: 10px;
  padding: 30px;
background-color:#004aad ; 
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.nombre_carga{
  margin: 2px;
}

input{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-style: none;
  
}
.card_resi h1{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ffffff;
  
}
select{
  
}

.padrino{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 200px;
}

.card_alerta {
  width: 250px; /* Ancho fijo del div */
    display: flex; /* Habilita Flexbox para el contenido interno */
    padding: 16px; /* Espaciado interno */
    align-items: center; /* Centra el contenido interno horizontalmente */
    justify-content: center; /* Centra el contenido interno verticalmente */
    background-color: #1f1f1f; /* Color de fondo del div */
    border: 2px solid #1f1f1f; /* Borde del div */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra del div */
    border-radius: 12px; /* Bordes redondeados */
}


.icon_alerta {
  width: 48px;
  height: 48px;
  fill: #ff4757;
  display: flex; /* Agregar esto */
  justify-content: center; /* Asegurarse de que el contenido esté centrado */
  align-items: center; /* Asegurarse de que el contenido esté centrado */
  margin: auto; /* Asegura que el ícono esté centrado en el contenedor */

}

.card_alerta:hover .icon_alerta {
  animation: bounce 0.5s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.title_alerta {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 16px 0;
  color: #e0e0e0; /* Color del título */
  text-align: center;
  justify-content: center;
}

.message_alerta {
  font-weight: bold;
  font-size: 0.875rem;
  color: #a0a0a0; /* Color del mensaje */
  padding: 0 8px;
}

.buttons_alerta {
  padding: 8px;
  margin-top: 8px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.cancel-button,
.confirm-button {
  padding: 8px 20px;
  font-size: 0.875rem;
  font-weight: medium;
  border-radius: 9999px; /* Full rounding */
  transition: all 0.3s;
}

.cancel-button {
  background-color: #4a5568; /* Color de fondo del botón Cancelar */
  color: #e2e8f0; /* Color del texto */
  border: 2px solid #718096; /* Color del borde */
  margin-bottom: 8px;
  height: 40px;
}

.confirm-button {
  background-color: #ff4757; /* Color de fondo del botón Confirmar */
  color: white;
  border: 2px solid #ff4757;
  margin-left: 16px;
  height: 40px;
}

.cancel-button:hover {
  border-color: #4a5568;
  background-color: #2d3748; /* Hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.confirm-button:hover {
  background-color: transparent;
  color: #ff4757;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.datosresi1{
  margin: 75px;
  width: 25%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
  padding: 10px;
  background-color: #004aad;
  color: #FFF;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.nombreusu{
  left: 10px;
  margin-top: 50px;

}

.nombreusu hr{
  background-color: white;
  width: 100%;
}
.nombreusu1{
  margin-left: 310px;
  margin-top: 10px;

}
.propi {
  display: flex; /* Usamos flexbox */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: center; /* Alinea verticalmente en el centro */
  margin-left: 310px; /* Mantén este margen según lo necesites */
  margin-bottom: 10px;
}

.propi button {
  margin-right: 100px; /* Empuja el botón a la derecha */
  background-color: #007BFF; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
}
.propi button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación */
}

.propi button:focus {
  outline: none; /* Elimina el contorno al enfocar */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Agrega sombra al enfocar */
}

.propi p {
  margin: 5px 0; /* Esto da un pequeño margen superior e inferior */
}
.propi p:nth-child(2) {
  color: #004aad;

}

.propietario{
  color: #004aad;
  margin-left: 310px; /* Mantén este margen según lo necesites */

}


hr{
  height: 40px;
  background-color: #000000;
}
.nombreusu1 h1{
  font-size: 25px;
}

.nombreusu h1{
  font-size: 20px;
  
}
.perfil-usuario .cambiar-foto{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .5);
  height: 57%;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-decoration: none;
  transform: translateY(0);
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.perfil-usuario .avatar-perfil:hover .cambiar-foto{
  transform: translateY(0);
  opacity: 1;
}

.datosresi1 button{
  text-align: center;
  justify-content: center;
  align-items: center;
}
.p_mensaje_error{
  color: red;
  margin-top: 10px;
}

.cargadatos{
  display: flex;
  flex-direction: column;
}

.cargardatos {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.precio{
  color: black;
  text-align: left;
}

.tony{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  right: 10px;
}

.datosresi2{
  margin-inline: 25%;
  width: 50%;
  height: 65%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.85);
  padding: 10px;
  background-color: #004aad;
  color: #FFF;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; /* Cambia a space-between */
}
.datosresi2 h1{
  font-size: 20px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%; /* Ancho completo */
   /* Espaciado interno */
  margin-bottom: 15px; /* Espaciado inferior */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}



