@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.iniregibody{
    background-image: url(http://localhost/pruebasrepay/images/resi.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.containerIR{
    background-color: #004aad;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.h1iniregi{
    color: #fff;
}

.containerIR h1{
    margin-bottom: 1rem;
}


.containerIR p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.containerIR span{
    font-size: 12px;
}

.containerIR a{
    color: #cecece;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.containerIR button{
    background-color: #ffffff;
    color: #004aad;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.containerIR button.hidden{
    background-color: transparent;
    border-color: #004aad;
    color: #004aad;
}

.containerIR form{
    background-color: #004aad;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.containerIR input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.containerIR select{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-containerIR{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.containerIR.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.containerIR.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-containerIR{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.toggle-containerIR img{
    width: 70%;
}

.containerIR.active .toggle-containerIR{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle img{

 border-radius: 10%;
}

.toggle{
    background-color: #fff;
    height: 100%;
    background: linear-gradient(to right, #fff, #fff);
    color: #004aad;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.containerIR.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.containerIR.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.containerIR.active .toggle-right{
    transform: translateX(200%);
}

.input-container {
    position: relative;
    width: 100%;
}

/*.input-container input {
    width: calc(100% - 40px);
    padding-right: 40px;
}*/

.verPassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}






/* Estilos generales para el input */
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Contenedor para alinear el input y el icono */
  .password-container {
    position: absolute; /* Hacemos el contenedor como un contenedor de posicionamiento */
  }
  
  /* Estilos para el icono */
  .fa-eye {
    position: absolute; /* Posicionamos el icono en relación a su contenedor */
    top: 50%; /* Centramos verticalmente */
    right: 10px; /* Ajusta este valor para cambiar la distancia al borde derecho */
    transform: translateY(-50%); /* Compensamos el desplazamiento del top: 50% */
    cursor: pointer;
  }

/* 
.view{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
*/